@model Steam.Models.LoginViewModel
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/logStyle.css">
        <title>Steam</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&display=swap" rel="stylesheet">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .Container {
                max-width: 1200px;
                margin: 0 auto;
            }

            .AuthBlock {
                align-items: center;
                display: flex;
                margin: 100px auto;
                background-size: 100%;
            }

            .AuthForm h1 {
                margin: 20px auto;
            }

            .AuthForm {
                margin: 0 auto;
            }

            form {
                padding: 50px;
                display: flex;
                flex-direction: column;
                width: 300px;
                padding: 30px 0;
            }

            .logLabel {
                color: #363636;
            }

            .checkBox {
                display: flex;
            }

            .check {
                margin-right: 20px;
            }

            .Enter {
                width: 150px;
                margin: 10px auto;
                background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
                border: none;
                border-radius: 5px;
                height: 30px;
                cursor: pointer;
                transition: 0.8s;
            }

                .Enter:hover {
                    background-color: #9bdcff;
                    transform: scale(1.2);
                }

            .loginField {
                max-width: 300px;
                background: #32353C;
                border-radius: 3px;
                color: #E9E9E9;
                padding: 8px 6px;
                display: block;
                box-shadow: none;
                width: 100%;
                transition: border ease-in-out .5s;
                border: 1px solid #26282D;
                outline: none;
                font-family: "Motiva Sans", Sans-serif;
                font-weight: normal;
            }

            .passwordField {
                max-width: 300px;
                background: #32353C;
                border-radius: 3px;
                color: #E9E9E9;
                padding: 8px 6px;
                display: block;
                box-shadow: none;
                width: 100%;
                transition: border ease-in-out .5s;
                border: 1px solid #26282D;
                outline: none;
                font-family: "Motiva Sans", Sans-serif;
                font-weight: normal;
            }

            .forgotPass {
                text-decoration: none;
                color: white;
                margin: 0 auto;
            }
             html{
    height: 100%;
} 
        </style>  
    </head>
    
    <body>
        <main>
            <div class="Container">
                <div class="AuthBlock">
                    <div class="AuthForm">
                        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                            <div asp-validation-summary="All">
                                <h1>ВОЙТИ</h1>
                                <label for="loginField" class="logLabel">Имя аккаунта Steam</label>
                                <input type="text" class="loginField" asp-for="Username">
                                <span asp-validation-for="Username"></span>
                                <label for="passwordField" class="logLabel">Пароль</label>
                                <input type="text" class="passwordField" asp-for="Password">
                                <span asp-validation-for="Password"></span>
                                <div class="checkBox">
                                    <input type="checkbox" class="check" asp-for="RememberMe">
                                    <span asp-validation-for="RememberMe"></span>
                                    <p class="logLabel">Запомнить меня</p>
                                </div>
                                <button class="Enter">ВОЙТИ</button>
                                <a href="" class="forgotPass">Забыли пароль?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

