<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")

</head>

<body>
    @await Html.PartialAsync("HeaderPartial")
    <div class="Container">

        <main>
            @RenderBody()
        </main>
    </div>
</body>

</html>
