<header>
    <div class="Container">
        <div class="Authorization">
            <a href="/Account/Login">войти</a>
            <a href="/Account/Reg">зарегистрироваться</a>
        </div>
        <nav>
            <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
                 alt="">
            <a href="/Home/">МАГАЗИН</a>
            <a href="">БИБЛИОТЕКА</a>
            <a href="">ПРОФИЛЬ</a>
        </nav>
    </div>
</header>