<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="container2">
      <div class="profile">
        <div class="profile__block">
          <div class="profile-img">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages11.bazaar.ru%2Fupload%2Fimg_cache%2Fe11%2Fe11d8df740be0a76c27e0fe3568a4219_cropped_1332x748.jpg&f=1&nofb=1"
              alt="">
          </div>
          <div class="profile__block-text">
            <p class="nick">Egor LOX</p>
            <p class="profile__description">Слышу ZoV ебать aZoV</p>
          </div>
        </div>
        <button class="profile__btn">Реадктировать профиль</button>

      </div>
      <div class="profile-main">
        <div class="profile__games">
          <p class="profile__games-title">Игры</p>
          <div class="profile__game">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hcgames.pl%2Fwp-content%2Fuploads%2F2018%2F03%2Fevol.jpg&f=1&nofb=1"
              alt="" class="profile__game-image">
            <p class="profile__game-name">Escape from Zalupa</p>
          </div>
          <div class="profile__game">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hcgames.pl%2Fwp-content%2Fuploads%2F2018%2F03%2Fevol.jpg&f=1&nofb=1"
              alt="" class="profile__game-image">
            <p class="profile__game-name">Escape from Zalupa</p>
          </div>
        </div>
        <div class="profile__aside">
          <div class="friends">
            <p class="friends-title">Друзья которых нет(</p>
            <div class="friend">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.wQXGtgXSFH7e3w06dTZ_oQHaHa%26pid%3DApi&f=1"
                alt="">
                <p class="friend-name">Никитос</p>
            </div>
            <div class="friend">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.wQXGtgXSFH7e3w06dTZ_oQHaHa%26pid%3DApi&f=1"
                alt="">
                <p class="friend-name">Никитка Баянов aka Создатель таркова</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>